# -----------------------------
# Python
# -----------------------------

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -----------------------------
# Virtual Environment
# -----------------------------

.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------

.env

# -----------------------------
# MacOS
# -----------------------------

.DS_Store

# -----------------------------
# VSCode / IDE
# -----------------------------

.vscode/
.idea/

# -----------------------------
# Jupyter
# -----------------------------

.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------

*.log

# -----------------------------
# ChromaDB
# -----------------------------

vector_db/chroma_store/

# -----------------------------
# BM25 Cache
# -----------------------------

retrieval/*.pkl

# -----------------------------
# Large Processed Data
# -----------------------------

processed/

# -----------------------------
# Raw PDFs / Books
# -----------------------------

data/

# -----------------------------
# HuggingFace Models Cache
# -----------------------------

.cache/
hf_cache/
models/

# -----------------------------
# Neo4j
# -----------------------------

neo4j/